html, body {
  margin:0px;
  height:100%;
  width: 100%;
  overflow-x: hidden;
}

.nav-show {
  position: fixed;
  display: block;
  background-color: white;
  width: 100%;
}

.nav-stick {
  position: fixed;
  display: block;
  box-shadow: 1px 1px 3px grey;
  background-color: white;
  width: 100%;
}

.nav-ul {
  list-style-type: none;
  margin: 0 100px;
  padding: 0;
}

.nav-li {
  display: inline;
  float: right;
}

.nav-li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.li-red:hover {
  background-color: rgba(255, 85, 85, 80) !important;
  color: white;
  cursor: pointer;
}

.li-green:hover {
  background-color: rgba(85, 255, 85, 80) !important;
  color: white;
  cursor: pointer;
}

.li-blue:hover {
  background-color: rgba(85, 85, 255, 80) !important;
  color: white;
  cursor: pointer;
}

.jumbotron {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#head {
  background-image: url('assets/background-1.svg') !important;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.head-container {
  padding-left: 120px;
  padding-top: 200px;
}

.head-name {
  font-size: 64px;
  font-family: monospace;
  margin-bottom: 0;
  font-family:'Montserrat', sans-serif;
}

.head-status {
  margin-top: 5px;
  font-family: monospace;
  font-size: 24px;
  font-weight: 300;
}

#about {
  background-image: url('assets/background-2.svg') !important;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

#about-container {
  padding-left: 120px;
  padding-top: 50px;
  width: 50%;
}

.title {
  font-size: 64px;
  font-family: 'Poppins', sans-serif;
}

#about-text {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
}

.skill {
  position: relative;
}

.skill-background {
  position: absolute;
  background-image: url('assets/background-3-2.svg') !important;
  height: 100%;
  width: 100%;
  z-index: 0;
  background-size: cover;
  background-position: center;
}

.skill-content {
  position: relative;
  z-index: 1;
}

#skills-2 {
  background-image: url('assets/background-3-2.svg') !important;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.skill-row {
  height: 40vh;
  display: flex;
  align-items: center;
  align-content: space-around;
  justify-content:space-around;
}

.skill-item {
  display: flex;
  padding: 50px;
  background-color: white;
  box-shadow: 1px 1px 6px #303030;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}